@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*,
button,
input {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-shape-color: linear-gradient(120deg, #343A4F, #0F1620);
    --lightblue: #3D9DEA;
    --darkblue: #4A4EEE;
    --text-color: #D5E1EF;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(90deg, #414850, #131720);
    color: var(--text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 40px;
    background-image: var(--bg-shape-color);
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}