<div class="wrapper">

    <ul class="card transition row" *ngFor="let inversor of inversores">
        <li class="col-12 col-md-6 col-lg-3" style="height:100%;">
            <div>
                <h2 class="transition">{{inversor.name}}</h2>
                <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <div class="cta-container transition"><a href="#" class="cta">Call to action</a></div>
                <div class="card_circle transition"></div>
            </div>
        </li>
    </ul>

</div>