.gradient-custom {
    /* fallback for old browsers */
    background: rgb(255, 87, 51);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(255, 87, 51), rgba(245, 87, 108, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(255, 87, 51), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.col-12 {
    display: flex;
}

.select {
    padding: 5px;
}

.input {
    border-radius: 50px;
}

#button {
    background-color: rgb(255, 87, 51);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 1.5rem;
}

#button:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 87, 51);
    cursor: pointer;
}

.select-startup {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
