<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />


</head>


<!--<h2 style="text-align: center"> {{ 'demo.title' | translate }} </h2>-->


<div class="title">
    <h2>{{'landing.service.h2' | translate}}</h2>
</div>

<body>

    <div class="card">
        <div class="face front">
            <img src="../../../assets/images/startup-home.jpg" alt="startup">
            <h3>{{'landing.service.startup.h5' | translate}}</h3>

        </div>
        <div class="face back">
            <h3>{{'landing.service.startup.h5' | translate}}</h3>
            <i class="fas fa-rocket"></i>
            <p>{{'landing.service.startup.p' | translate}}</p>
            <div class="link">
                <a href="/startup" class="btn-contact"> <i class="fas fa-plus">{{dataSourceStartup.totalElements}}</i> </a>

            </div>

        </div>

    </div>

    <div class="card">
        <div class="face front">
            <img src="../../../assets/images/investor-home.jpg" alt="inversor">
            <h3>{{'landing.service.investor.h5' | translate}}</h3>

        </div>
        <div class="face back">


            <h3>{{'landing.service.investor.h5' | translate}} </h3>
            <i class="fas fa-hand-holding-usd"></i>
            <p>{{'landing.service.investor.p' | translate}}</p>
            <div class="link">
                <a href="/inversores" class="btn-contact"><i class="fas fa-plus">{{dataSource.totalElements}}</i></a>

            </div>

        </div>

    </div>

    <div class="card">
        <div class="face front">
            <img src="../../../assets/images/entrpreneur-home.jpg" alt="entrpreneur">
            <h3>{{'landing.service.entrepreneur.h5' | translate}}</h3>

        </div>
        <div class="face back">
            <h3>{{'landing.service.entrepreneur.h5' | translate}}</h3>
            <i class="fas fa-users"></i>
            <p>{{'landing.service.entrepreneur.p' | translate}}</p>
            <div class="link">

                <a href="/entrepreneurs" class="btn-contact"></a>
            </div>

        </div>

    </div>

    <!-- <div class="container">


        <input type="radio" name="slider" class="d-none" id="s1" checked>
        <input type="radio" name="slider" class="d-none" id="s3">
        <input type="radio" name="slider" class="d-none" id="s5">

        <div class="cards">
            <label for="s1" id="slide1">
        <div class="card">
          <div class="image">
            <img src="../../../assets/images/startup-home.jpg" alt="">
            <div class="dots">
              <div class="dot1"></div>

            </div>
          </div>
          <div class="infos">
            <span class="name">{{'landing.service.startup.h5' | translate}}</span>
            <span class="lorem">{{'landing.service.startup.p' | translate}}</span>
          </div>
          <a href="/contact" class="btn-contact"> <i class="fas fa-rocket"></i></a>
          <div class="socials">
            <i class="fas fa-plus">48</i>
          </div>
        </div>
      </label>


            <label for="s3" id="slide3">
        <div class="card">
          <div class="image">
            <img src="../../../assets/images/investor-home.jpg" alt="">
            <div class="dots">
              <div class="dot1"></div>

            </div>
          </div>
          <div class="infos">
            <span class="name">{{'landing.service.investor.h5' | translate}}</span>
            <span class="lorem">{{'landing.service.investor.p' | translate}}</span>
          </div>
          <a href="/inversores" class="btn-contact"><i class="fas fa-hand-holding-usd"></i></a>
          <div class="socials">
           <i class="fas fa-plus">25</i>

          </div>
        </div>
      </label>



            <label for="s5" id="slide5">
        <div class="card">
          <div class="image">
            <img src="../../../assets/images/entrpreneur-home.jpg" alt="">
            <div class="dots">
              <div class="dot1"></div>

            </div>
          </div>
          <div class="infos">
            <span class="name">{{'landing.service.entrepreneur.h5' | translate}}</span>
            <span class="lorem">{{'landing.service.entrepreneur.p' | translate}}</span>
          </div>
          <a href="/entrepreneurs" class="btn-contact"><i class="fas fa-users"></i></a>
          <div class="socials">
            <i class="fas fa-plus">83</i>
          </div>
        </div>
      </label>
        </div>

    </div> -->

</body>





</html>
