<form [formGroup]="inversorForm" (ngSubmit)="save()" class="row g-3">
  <div class="col-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input formControlName="email" type="email" placeholder="{{ 'table.contacts.email' | translate }}"
      class="form-control" id="inputEmail4">
  </div>
  <div class="col-6">
    <label for="inputPassword4" class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="{{ 'table.contacts.name' | translate }}" formControlName="name"
      name="invester-name" required>
  </div>
  <div class="col-3">
    <label for="inputIR" class="form-label">Investor Range</label>
    <select id="inputIR" class="form-select" formControlName="idInvesterRange">
      <option *ngFor="let rangeInvester of rangeInvesters" [value]="rangeInvester">{{rangeInvester.value}}</option>
    </select>
  </div>
  <div class="col-3">
    <label for="inputBS" class="form-label">Business Sector</label>
    <select id="inputBS" class="form-select" formControlName="idBusinessSector">
        <option *ngFor="let businessSector of businessSectors" [value]="businessSector">{{businessSector.type}}</option>
    </select>
  </div>
  <div class="col-3">
    <label for="idStartUpState" class="form-label">State</label>
    <select name="idStartUpState" id="idStartUpState" class="form-select" formControlName="idStartUpState">
        <option *ngFor="let startupState of startupStates" [value]="startupState" >{{startupState.type}}</option>
    </select>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" [disabled]="!inversorForm.valid">{{ 'button.save' | translate
      }}</button>
  </div>
</form>