<form [formGroup]="inversorForm" class="normal-form" (submit)="save()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden">
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Full Name*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-select formControlName="idInvesterRange" placeholder="idInvesterRange">
                        <mat-option>None</mat-option>
                        <ng-container>
                            <mat-option></mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="idBusinessSector" placeholder="idBusinessSector">
                        <mat-option>None</mat-option>
                        <ng-container>
                            <mat-option></mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="idStartUpState" placeholder="idStartUpState">
                        <mat-option>None</mat-option>
                        <ng-container>
                            <mat-option></mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
          
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="!inversorForm.valid">Submit</button>
                    <button mat-raised-button color="warn">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>



<!-- <div class="container-fluid">
    <form novalidate>
      <div class="card">
        <div class="card-header">
          <div class="float-left">
            <h3 class="text-info">Position</h3>
          </div>
          <div class="float-right">

            <h5 class="text-warning font-italic"></h5>
          </div>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" translate>
            Position Number, Title, Description or Salary incorrect.
          </div>
          <div class="form-group">
            <label for="id">Id</label>
            <label class="d-block">
              <input type="text" class="form-control" formControlName="id" autocomplete="id"
                [placeholder]="'Auto Assigned Id' | translate" readonly />
              <span hidden translate>Id</span>
              <small class="text-danger" translate>
                Id is required
              </small>
            </label>

            <label for="positionNumber">Position Number</label>
            <label class="d-block">
              <input type="text" class="form-control" formControlName="positionNumber" autocomplete="positionNumber"
                [placeholder]="'Enter position number here' | translate" required />
              <span hidden translate>PositionNumber</span>
              <small class="text-danger" translate>
                Position Number is required
              </small>
            </label>
            <label for="positionTitle">Position Title</label>

            <label class="d-block">
              <input type="text" class="form-control" formControlName="positionTitle"
                autocomplete="current-positionTitle" [placeholder]="'Enter title here' | translate" required />
              <span hidden translate>PositionTitle</span>
              <small class="text-danger" translate>
                Position Title is required
              </small>
            </label>
            <label for="positionDescription">Position Description</label>

            <label class="d-block">
              <input type="text" class="form-control" formControlName="positionDescription"
                autocomplete="current-positionDescription" [placeholder]="'Enter description here' | translate"
                required />
              <span hidden translate>PositionDescription</span>
              <small class="text-danger" translate>
                Position Description is required
              </small>
            </label>
            <label for="positionSalary">Position Salary</label>

            <label class="d-block">
              <input type="text" class="form-control" formControlName="positionSalary"
                autocomplete="current-positionSalary" [placeholder]="'Enter salary here' | translate" required />
              <span hidden translate>PositionDescription</span>
              <small class="text-danger" translate>
                Position Salary is required and must be numeric
              </small>
            </label>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-left">

            <button class="btn btn-primary w-20" type="submit">
              <span translate><i class="fas fa-plus"></i> Create</span>
            </button>

            <button class="btn btn-primary w-20" type="submit">
              <span translate><i class="fas fa-edit"></i> Update</span>
            </button>

            <button class="btn btn-danger w-20" type="submit">
              <span translate><i class="fas fa-trash-alt"></i> Delete</span>
            </button>
          </div>
          <div class="float-right">

            <button class="btn btn-secondary w-20" type="submit">
              <span translate><i class="fa fa-arrow-left"></i> Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->