<form [formGroup]="userForm" (ngSubmit)="save()" class="box" class="is-fluid">
    <div class="field is-grouped ">
        <div class="control">
            <div class="field">
                <label class="label">{{ 'formUser.username' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="login" class="input" type="login">
                    <span class="icon is-small is-left">
        <mat-icon>account_circle</mat-icon>
      </span>
                </div>
            </div>
        </div>

        <div class="control">
            <div class="field">
                <label class="label">{{ 'formUser.name' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="name" class="input" type="name">
                    <span class="icon is-small is-left">
        <mat-icon>people</mat-icon>
      </span>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-grouped ">
        <div class="control">
            <div class="field">
                <label class="label">{{ 'formUser.firstSurname' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="surname1" class="input" type="surname1">
                    <span class="icon is-small is-left">
      <mat-icon>people</mat-icon>
    </span>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="field">
                <label class="label">{{ 'formUser.secondSurname' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="surname2" class="input" type="surname2">
                    <span class="icon is-small is-left">
    <mat-icon>people</mat-icon>
  </span>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-grouped ">
        <div class="control">
            <div class="field">
                <label class="label">{{ 'formUser.password' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="password" class="input" type="password">
                    <span class="icon is-small is-left">
    <mat-icon>lock</mat-icon>
  </span>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="field">
                <label class="label">{{ 'formUser.repeatPassword' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password">
                    <span class="icon is-small is-left">
  <mat-icon>lock</mat-icon>
</span>
                </div>
            </div>
        </div>
    </div>

    <mat-dialog-actions>
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-link allbutton">{{ 'button.save' | translate
          }}</button>
            </div>

            <div class="control">
                <button mat-dialog-close class="button is-danger allbutton">{{"button.cancel" | translate}}</button>
            </div>
        </div>
    </mat-dialog-actions>
</form>
