<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>{{ "menu.entrepreneur" | translate }}</h2>
        </div>

        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3" *ngFor="let entrepreneur of entrepreneurs">


                <div class="cnt-block equal-hight" style="height: 349px;">

                    <button type="button" class="icon-button" (click)="clickEvent()">

                      <img src="https://picsum.photos/200/300" alt="avatar" >
                      <span ngClass="{correcto}" class="material-icons icon-button__badge">task_alt</span>

                    </button>

                    <nav>
                        <a routerLink="/entrepreneur-detail">link to user component</a>
                    </nav>



                    <h3 class=" first-name-last-name "><a href="# ">{{entrepreneur.firstName}} {{entrepreneur.lastName}}</a></h3>

                    <p>{{entrepreneur.idProfessionalProfile.typeProfessionalProfile}}</p>

                    <ul class="follow-us clearfix ">

                        <li><a href="{{entrepreneur.linkedinProfile}} "><i class="bi bi-linkedin " aria-hidden="true "></i></a></li>

                    </ul>
                </div>
            </li>
        </ul>

    </div>
</section>
