<h1 class="register-title">Selecciona lo que quieras ser!!</h1>

<div class="register-container">

    <!-- REGISTRO STARTUP -->

    <button class="register-card" (click)="openDialogStartup()">
      <h3>StartUp</h3>
        <!-- <div class="register-face">
            <img src="../../../assets/images/startup-home.jpg" alt="startup">
            <h3>{{'landing.service.startup.h5' | translate}}</h3>

        </div> -->

</button>

    <!-- REGISTRO INVERSOR -->

    <button class="register-card" (click)="openDialogInversor()">
      <h3>Inversor</h3>
    <!-- <div class=" face front ">
        <img src="../../../assets/images/investor-home.jpg " alt="inversor ">
        <h3>{{'landing.service.investor.h5' | translate}}</h3>

    </div> -->

</button>

    <!-- REGISTRO ENTREPRENEUR -->

    <button class="register-card" (click)="openDialogEntrepreneur()">
      <h3>Entrepreneur</h3>
    <!-- <div class="face front ">
        <img src="../../../assets/images/entrpreneur-home.jpg " alt="entrpreneur ">
        <h3>{{'landing.service.entrepreneur.h5' | translate}}</h3>

    </div> -->


</button>
