<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
    Registration Startup</h3>
<form>

    <div class="row">
        <div class="col-md-6 mb-4">

            <div class="form-outline">
                <input type="text" id="name" class="form-control form-control-lg" />
                <label class="form-label" for="firstName">Name</label>
            </div>

        </div>
        <div class="col-md-6 mb-4 pb-2">

            <div class="form-outline">
                <input type="email" id="emailAddress" class="form-control form-control-lg" />
                <label class="form-label" for="emailAddress">Email</label>
            </div>

        </div>
        <div class="col-md-6 mb-4">

            <div class="form-group green-border-focus">

                <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
                <label for="exampleFormControlTextarea5">Description</label>

                <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                        <input type="date" id="date" class="form-control form-control-lg" />
                        <label class="form-label" for="date">Fundation Year</label>
                    </div>

                </div>
            </div>





        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <label class="form-label select-label">Business Sector</label>
            <select class="select form-control-lg">

              <option value="1" disabled>Business Sector</option>
              <option value="2">Subject 1</option>
              <option value="3">Subject 2</option>
              <option value="4">Subject 3</option>
            </select>

            <div><label class="form-label select-label">Startup State</label></div>
            <select class="select form-control-lg">
              <option value="1" disabled>Startup State</option>
              <option value="2">Subject 1</option>
              <option value="3">Subject 2</option>
              <option value="4">Subject 3</option>
            </select>

            <div><label class="form-label select-label">Anual Invoicing</label></div>
            <select class="select form-control-lg">
              <option value="1" disabled>Startup State</option>
              <option value="2">Subject 1</option>
              <option value="3">Subject 2</option>
              <option value="4">Subject 3</option>
            </select>


        </div>

    </div>

    <div class="d-flex justify-content-center">
        <button mat-raised-button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
    </div>

    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

</form>
