<form>
    <!-- name -->
    <div class=" is-grouped ">
        <div class="field ">
            <label class="label">{{ 'table.contacts.name' | translate }}</label>
            <div class="control has-icons-left has-icons-right">
                <input type="text" class="input" placeholder="{{ 'table.startup.name' | translate }}" formControlName="name" name="startup-name" required>
                <span class="icon is-small is-left">
        <mat-icon>person</mat-icon>
      </span>
            </div>
        </div>

        <!-- email -->
        <div class="field">
            <label class="label">{{ 'table.contacts.email' | translate }}</label>
            <div class="control has-icons-left has-icons-right">
                <input formControlName="email" type="email" placeholder="{{ 'table.startup.email' | translate }}" class="input">
                <span class="icon is-small is-left">
        <mat-icon>email</mat-icon>
      </span>
            </div>
        </div>
    </div>

    <!-- decripcion -->
    <div class="field">
        <label class="label">{{ 'table.startup.description' | translate }}</label>
        <div class="control has-icons-left has-icons-right">
            <textarea formControlName="description" type="text" placeholder="{{ 'table.startup.description' | translate }}" class="textarea"></textarea>
            <span class="icon is-small is-right">
        <mat-icon>notes</mat-icon>
      </span>
        </div>
    </div>

    <div class="field is-grouped has-icons-left">

        <!-- INGRESOS ANUAIS -->
        <div class="control  has-icons-left">
            <div class="field">
                <label class="label">{{ 'table.startup.anualInvoicing' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="anualInvoicing" type="number" placeholder="{{ 'table.startup.anualInvoicing' | translate }}" class="input">
                    <span class="icon is-small is-left">
            <mat-icon>attach_money</mat-icon>
          </span>
                </div>
            </div>
        </div>

        <!-- fundationYear-->
        <div class="control  has-icons-left">
            <div class="field">
                <label class="label">{{ 'table.startup.fundationYear' | translate }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="fundationYear" type="date" placeholder="{{ 'table.startup.fundationYear' | translate }}" class="input">
                    <span class="icon is-small is-left">
            <mat-icon>date_range</mat-icon>
          </span>
                </div>
            </div>
        </div>
    </div>


    <!-- grupo drop -->
    <div class="field is-grouped  has-icons-left">

        <div class="control  has-icons-left">
            <div class="field">
                <label class="label">{{"table.startup.idBusinessSector" | translate}}</label>
                <div class="control">
                    <div class="select">
                        <select formControlName="idBusinessSector">
              <option >{{businessSector.type}}</option>
            </select>
                        <span class="icon is-small is-left">
              <mat-icon>list</mat-icon>
            </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="control  has-icons-left">
            <div class="field">
                <label class="label">{{"table.startup.idStartUpState" | translate}}</label>
                <div class="control">
                    <div class="select">
                        <select formControlName="idStartupState">
              <option>{{startupState.type}}</option>
            </select>
                        <span class="icon is-small is-left">
              <mat-icon>list</mat-icon>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button mat-raised-button type="button" id="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
    </div>

    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

</form>
