.investerTable,
table {
    font-family: "Rubik", sans-serif;
}

.upper-menu {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: space-between;
    align-items: center;
}

button {
    margin-right: 10px;
    font-family: "Rubik", sans-serif;
}


.green-class { color: green; }
.orange-class { color: orange; }
.red-class { color: red; }


.mat-progress-bar{
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;

}