<div class="container">
    <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
            <div class="columns">
                <div class="column left">
                    <h1 class="title is-1">Rexistrate en StartUp!</h1>
                    <h2 class="subtitle colored is-4">Startup ou inversor ?</h2>
                    <div class="select is-rounded">
                        <select [(ngModel)]="selectedOption">
                            <option [selected]="o.value === ngSelect" *ngFor="let o of options" [value]="o.value">
                                {{o.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Formulario de StartUp -->
                <div class="column right has-text-centered" *ngIf="selectedOption === '1'">
                    <h1 class="title is-4">Startup</h1>
                    <p class="description">Complete o rexistro de Startup</p>
                    <app-startup-registration></app-startup-registration>
                </div>

                <!-- Formulario de Inversor -->
                <div class="column right has-text-centered" *ngIf="selectedOption === '2'">
                    <h1 class="title is-4">Inversor</h1>
                    <p class="description">Complete o rexistro de inversor</p>
                    <app-investor-registration></app-investor-registration>
                </div>
            </div>
        </div>
        <div class="column is-8 is-offset-2">
            <br>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fab fa-instagram"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span> &emsp;
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="level-right">
                    <small class="level-item" style="color: var(--textLight)">
                        &copy; StartUp! Website. All Rights Reserved.
                    </small>
                </div>
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowSelected() {
        /* Para obtener el valor */
        var cod = document.getElementById("type").value;
        alert(cod);

        /* Para obtener el texto */
        var combo = document.getElementById("type");
        var selected = combo.options[combo.selectedIndex].text;
        alert(selected);
    }
</script>