<h1>Rexistro</h1>
<h3>Crear novo</h3>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form (ngSubmit)="save()" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Datos do usuario</ng-template>
                <div class="field is-grouped ">
                    <div class="control">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left has-icons-right">
                                <input formControlName="login" class="input" type="login">
                                <span class="icon is-small is-left">
                    <mat-icon>people</mat-icon>
                  </span>
                            </div>
                        </div>
                    </div>

                    <div class="control">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <input formControlName="name" class="input" type="name">
                                <span class="icon is-small is-left">
                    <mat-icon>people</mat-icon>
                  </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped ">
                    <div class="control">
                        <div class="field">
                            <label class="label">First Surname</label>
                            <div class="control has-icons-left has-icons-right">
                                <input formControlName="surname1" class="input" type="surname1">
                                <span class="icon is-small is-left">
                  <mat-icon>people</mat-icon>
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="control">
                        <div class="field">
                            <label class="label">Second Surname</label>
                            <div class="control has-icons-left has-icons-right">
                                <input formControlName="surname2" class="input" type="surname2">
                                <span class="icon is-small is-left">
                <mat-icon>people</mat-icon>
              </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped ">
                    <div class="control">
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input formControlName="password" class="input" type="password">
                                <span class="icon is-small is-left">
                <mat-icon>people</mat-icon>
              </span>
                            </div>
                        </div>
                    </div>
                    <div class="control">
                        <div class="field">
                            <label class="label">Repeat Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="password">
                                <span class="icon is-small is-left">
              <mat-icon>people</mat-icon>
            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="button is-link" type="submit" mat-button matStepperNext>Next</button>
            </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Datos de Startup/inversor</ng-template>
       <app-investor-registration></app-investor-registration>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <mat-list>
            <mat-list-item> <strong>Name:</strong> {{ this.firstFormGroup.value.name }}</mat-list-item>
            <mat-list-item> <strong>Description:</strong> {{ this.firstFormGroup.value.description }}</mat-list-item>
            <mat-list-item> <strong>Amount:</strong> {{ this.secondFormGroup.value.amount }}</mat-list-item>
            <mat-list-item> <strong>Stock:</strong> {{ this.secondFormGroup.value.stock }}</mat-list-item>
        </mat-list>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="submit()">Submit</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>