<mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
        <h2 class="logo">Start<span class="up">Up</span>!</h2>

        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <mat-icon>{{ pageIcon }}</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>

            <span class="title-bar">{{ pageTitle | translate }}</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
